
/* BASIC */
@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);

/* HEADER */
@import url(./blocks/header/header.css);

/* LOGO */
@import url(./blocks/logo/logo.css);

/* CONTENT */
@import url(./blocks/content/content.css);

/* PROFILE */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__common-container/profile__common-container.css);
@import url(./blocks/profile/__avatar-edit-btn/profile__avatar-edit-btn.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__text-container/profile__text-container.css);
@import url(./blocks/profile/__hero-name/profile__hero-name.css);
@import url(./blocks/profile/__hero-job/profile__hero-job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* CARDS */
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__container/cards__container.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like-container/card__like-container.css);
@import url(./blocks/cards/__like-button/cards__like-button.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);
@import url(./blocks/cards/__trash-button/cards__trash-button.css);
@import url(./blocks/cards/__trash-button/_disabled/cards__trash-button_disabled.css);
@import url(./blocks/cards/__like-button/_active/cards__like-button_active.css);

/* FOOTER */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* POPUP */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_view-photo.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type_confirm-delete/popup__form_type_confirm-delete.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_el/popup__input_el_name.css);
@import url(./blocks/popup/__input/_el/popup__input_el_job.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/__container/_type/popup__container_type_zoom-photo.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__picture-caption/popup__picture-caption.css);

@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css);

@import url(./blocks/notification/notification.css);
@import url(./blocks/notification/_active/notification_active.css);
@import url(./blocks/notification/__description/notification__description.css);
@import url(./blocks/notification/_type/notification_type_error.css);
@import url(./blocks/notification/_type/notification_type_success.css);




